<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <!-- CSS 파일을 링크 -->
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
  <h2>Login</h2>
  <form th:action="@{/login}" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>
  </form>

  <!-- 회원가입 버튼 -->
  <a th:href="@{/register}" class="register-link">Don't have an account? Register here</a>
</div>
</body>
</html>
